.kitty {
    font-size: larger
} 
.hello {
    font-size: larger
} 
.baby {
    font-size: x-large;
}
body {
    font-style: initial;
}
.lulu {
    font-style: italic;
    font-size: larger;
}
.lua {
    width: 20%;
}
.lista {
    display: inline-block;
    padding: 5%;
    margin-right: 10%;
}